body {
    background-color: #c8c8c8;
    margin: 0;
}

.main-location {
    background-color: #dfdfdf;
    padding: 50px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: relative;
}

.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-side {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bottom-side {
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

.left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
}

.temp-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.temp-p {
    font-size: 32px;
    margin: 0;
}

.img-div {
    position: absolute;
    top: -25px;
    left: 50px;
}

.desc-div {
    position: relative;
    display: flex;
    justify-content: center;
}

.name-p {
    margin: 0;
}

.desc-p {
    position: absolute;
    top: 45px;
    margin: 0;
}

.head-p {
    margin: 0;
    margin-top: 40px;
}

.bottom-p {
    margin: 0;
}

.back-icon {
    position: absolute;
    top: 10px;
    left: 20px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

form {
    display: flex;
    gap: 10px;
}

.search {
    height: 100px;
    display: flex;
    align-items: center;
    position: relative;
}

.search-btn {
    height: 30px;
    width: 30px;
    cursor: pointer;
    opacity: 85%;
    transition: 0.5s;
}

.search-btn:hover {
    opacity: 100%;
}

.not-found {
    position: absolute;
    bottom: 0;
}

#search-input {
    border: 0;
    border-bottom: 1px solid black;
    background-color: #c8c8c8;
    outline: 0;
    width: 30vw;
    font-size: 20px;
}